<div class="container-custom">
  <div class="row">
    <div class="col-md-4">
      <h2 class="dashboard-title">Page CRUD untuk Sistem Pengisian Bahan Bakar Minyak</h2>
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nama Bahan Bakar</th>
            <th>Tarif/liter</th>
            <th>Jumlah BBM tersedia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Premium </td>
            <td>7000</td>
            <td>1000000 liter</td>
          </tr>
          <tr>
            <td>Pertalite</td>
            <td>8000</td>
            <td>2000000 liter</td>
          </tr>
          <tr>
            <td>Pertamax</td>
            <td>9500</td>
            <td>3000000 liter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
