<!-- <div class="content">
  <h1>Struktur organisasi pemerintahan Indonesia</h1>
  <span>PRESIDEN</span>

  <div class="line"></div>
  <span>WAKIL PRESIDEN</span>

</div> -->
<div class="tree">
  <ul>
    <li>
      <a href="#">INDONESIA</a>
      <ul>
        <li>
          <a href="#">MPR</a>
        </li>
        <li>
          <a href="#">DPR</a>
        </li>
        <li>
          <a href="#">BPK</a>
          <ul>

            <li>
              <a href="#">PERWAKILAN BPK PROVINSI</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="#">WAKIL PRESIDEN</a>
        </li>
        <li>
          <a href="#">PRESIDEN</a>
          <ul>

            <li>
              <a href="#">PARA MENTERI </a>
              <ul>
                <li>
                  <a href="#">Menteri koordinator</a>
                </li>
                <li>
                  <a href="#">Pejabat setingkat menteri</a>
                </li>
                <li>
                  <a href="#">Menteri negara pemimpin departemen</a>
                </li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
